.forum-inner {
	float: left;
	width: 100%;
}

.forum-inner-inner {
    margin-right: 260px;
    padding-right: 8px;
}

.sidebar {
	float: left;
	width: 260px;
	margin-left: -260px;
}

.sidebarcontent {

}

.test01 {
	padding: 4px;
}

@media (max-width: 900px) {
	.forum-inner, .forum-inner-inner {
		width: auto;
		float: none;
		margin-right: 0;
	}
	
  .sidebar {
		float: none;
		width: auto;
		margin-left: 0;
		margin-bottom: 8px;
	}
}